body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: rgb(211, 61, 0);
  font-weight: 400;
}

div.row {
  margin-bottom: 80px;
}

div.row h2 {
  margin-bottom: 0.5em;
}

.founders img, .members img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.members img {
  margin-bottom: 5px;
}

.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

.row .event {
  margin-bottom: 26px;
}

span.label a {
  color: white;
}

.label-abrico {
  background-color: #D33D00;
}

a {
  color: #D33D00;
}

a:hover {
  color: #D33D00;
}


.header {
  margin-top:30px;
  /*margin-bottom:60px;*/
}

.header h1 {
  font-size: 60px;
  line-height: 66px;
/*  font-family: 'Pacifico', cursive;*/
/*  font-weight: normal;*/
}

.lead {
  margin: 18px 0
}

.caption.mapCaption { 
  line-height: 1.4;
  padding: 12px 9px 7px;
}